body{
  background-color: black;
}

/* riffa and salmabad logo start------------------------------------------------------------------------------------*/

.blackfire-logo{
  position: relative;
padding-top:20px;
padding-left:55px;
}

.riffa-salmabad-blackfire{
  position: relative;
padding-top:100px;
padding-left: 40px;
  text-align: center;
  color: #D2691E;
  font-size: 35px;
}

.riffa-salmabad-img{
  position: relative;
padding-left: 170px;
padding-top: 30px;

}
/* riffa and salmabad logo end------------------------------------------------------------------------------------*/


/* riffa logo start---------------------------------------------------------------------------------------------------*/
.riffa{
     transition-duration: 0.4s;
      color: white;

}
.riffa:hover{
   color:#D2691E;
}
/* riffa logo end ---------------------------------------------------------------------------------------------------*/

/* salmabad logo start------------------------------------------------------------------------------------------------*/
.salmabad{
  transition-duration: 0.4s;
   color: white;
}
.salmabad:hover{
   color:#D2691E;
}

.salmabad-img{
  position: relative;
padding-left: 50px;
}
/* salmabad logo end---------------------------------------------------------------------------------------------------*/
